* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    cursor: inherit;
}
:root {
    --AnimationNewsScaleStart: 1;
    --AnimationNewsScaleStop: 1.2;
    --AnimationNewsScaleTime: 500ms;

    --textBg: azure;
}

/*animazioni*/

@keyframes newsHover {
    from {
        transform: scale(var(--AnimationNewsScaleStart));
    }
    to {
        transform: scale(var(--AnimationNewsScaleStop));    
    }
}
@keyframes newsHover-off{
    from{
        transform: scale(var(--AnimationNewsScaleStop));
    }to {
        transform: scale(var(--AnimationNewsScaleStart));
    }
}

@keyframes gadgetHover {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 -2vh;
        position: relative;
        
    }
}
@keyframes gadgetHover-off{
    from{
        translate: 0 -2vh;
        position: relative;
    } to {
        translate: 0 0;
    }
}

/*custom fonts*/
@font-face {
    font-family: titleFont;
    src: url(./fonts/Action\ Comics.ttf);
}
@font-face {
    font-family: textFont;
    src: url(./fonts/Roboto-Regular.ttf);
}

#index-d1 {
    top: -10vh;
}
#newsBox {
    top: -19vh;
}
#index-d2 {
    top: -29vh
}
#storyBox {
    top: -38vh;
}
#index-d3 {
    top: -59vh
}
#gadgetsBox{
    top: -68vh;
}
#homePageFooter {
    bottom: -439vh;
}

body {
    margin: 0px;
    cursor: url(../imgs/misc/cursor.cur), auto;
    background-color: black;
}
.bg {
    background-image: url(./../imgs/Background/BackBackground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Presi da internet*/

/*-------------------Back to top -----------------*/
.Btn {
    z-index: 999;
    width: 4vw;
    height: 4vw;
    background: linear-gradient(#44ea76, #39fad7);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    border: none;
    bottom: 3vh;
    right: 2vw;
  }
  .arrow path {
    fill: white;
  }
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
/*-------------- Scroll bar --------------- */
::-webkit-scrollbar {
    width: 0.3vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #091936; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #986c22; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #986c22; 
  }

/* -------- custom button --------------------------*/

.cssbuttons-io {
    position: relative;
    font-size: 5vh;
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
    color: rgb(0, 0, 0);
    overflow: hidden;
}
button.cssbuttons-io {
    border: 0.3vw solid rgb(6, 136, 183);
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    border-radius: 6vh;
}
.cssbuttons-io span {    
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.3vh 0.3vw 0.3vh 0.3vw;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 4.3vh;
    color: whitesmoke;
    text-shadow: 0.4vh 0.4vh #558abb, -0.4vh -0.4vh #558abb, 0.4vh -0.4vh #558abb, -0.4vh 0.4vh #558abb;
}
.cssbuttons-io::before, .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.cssbuttons-io::before {
    content: "";
    background: azure;
    
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}
.cssbuttons-io:active {
    transform: scale(0.95);
}

/*-------------- HEADER ------------------*/
header {
    margin: 0px;
    background-image: url(./../imgs/header/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header.main img {
    display: block;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 10vh 0px 5vh 0px;
    width: 30vw;
}
header.main ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 15vh;
    margin: 0px;
}
header.main li {
    margin: 3vw;
}
header.main button.cssbuttons-io {
    width: 20vw;
    height: 10vh;
}

header.small img {
    margin: 7vh 0px 0px 5vw;
    width: 20vw;
    height: 17vh;
}
header.small h1 {
    margin: 0px;
    
    color: rgb(0, 98, 255);
    padding: 1vh;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
}

/*-------------- NAV BAR ------------------*/
nav {
    display: block;
    position: sticky;
    top: 0px;
    right: 0px;
    float: right;
    margin-top: 3vh;
    background-color: azure;
    border-top-left-radius: 6vh;
    border-bottom-left-radius: 6vh;
    z-index: 1000;
    width: 40vw;
}
nav ul {
    margin: 0.0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 1.5vh 3vw 1.5vh 0.5vw;
}
nav span.thispage {
    display: inline-block;
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
    border: 0.2vw solid rgb(6, 136, 183);
    border-radius: 6vh;
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    min-width: 7.5vw;
    height: 4vh;
    font-weight: 500;
    text-align: center;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 2.6vh;
    color: whitesmoke;
    padding: 0.3vh;
    text-shadow: 0.2vh 0.2vh #558abb, -0.2vh -0.2vh #558abb, 0.2vh -0.2vh #558abb, -0.2vh 0.2vh #558abb;
}
nav .cssbuttons-io {
    font-size: 1vh;
}
nav button.cssbuttons-io {
    min-width: 8vw;
    height: 5vh;
}
nav .cssbuttons-io span {
    font-size: 2.3vh;
    text-shadow: 0.2vh 0.2vh #558abb, -0.2vh -0.2vh #558abb, 0.2vh -0.2vh #558abb, -0.2vh 0.2vh #558abb;
}

/*------------- DIVISORI ---------------*/

hr.mangobox {
    border: 0px;
    display: block;
    margin: 0px;
    background-image: url(./../imgs/misc/divisore.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    position: relative;
    z-index: 100;
}
hr.simple {
    margin: 0px;
    border-top: 1vh solid rgb(6, 136, 183);
    border-bottom: 1vh solid white;
}

/* Classi generiche*/

.box {
    border: 0.3vw solid rgb(6, 136, 183);
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    border-radius: 6vh;
}

.title {
    font-family: titleFont, Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

.text {
    font-family: textFont, Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 3vh;
}

/*------------- Footer -------------*/

footer hr {
    top: -10vh
}
footer p{
    text-align: center;
    font-size: 2vh;
    color: #828383;
}

footer.main {
    position: absolute;
    right: 0px;
    left: 0px;
    min-height: 90vh;
    width: 100%;
    background-color: black;
    color: white;
}
footer.main img {
    position: relative;
    width: 30%;
    scale: 1.3;
    margin: 0px 32% 0px 38%;
}

footer.simple {
    position: absolute;
    right: 0px;
    left: 0px;
    min-height: 72vh;
    width: 100%;
    background-color: black;
    color: white;
}
footer.simple img {
    position: relative;
    scale: 1.3;
    width: 20%;
    top: -8vh;
    margin: 0px 38% 0px 42%;
}
footer.simple p {
    position: relative;
    top: -8vh
}
/*------------------------- INDEX.html --------------------*/

/*news Box*/
.newsBox {
    position: relative;
    
    padding: 10vh 0px 20vh 0px;
    
    background-image: url("./../imgs/Background/generic-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
} 
.newsBox ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.newsBox li {
    padding: 2vh 1vw 2vh 1vw;
    z-index: 200;
    min-height: 50vh;
    width: 22vw;
    overflow: hidden;
    background-color: var(--textBg);                                            /*>modificare forse<*/

    -webkit-animation: newsHover-off var(--AnimationNewsScaleTime);
}
.newsBox li:hover{
    animation: newsHover var(--AnimationNewsScaleTime);
    transform: scale(var(--AnimationNewsScaleStop));
    z-index: 300;
}
.newsBox img{
    border-bottom: rgb(6, 136, 183) 0.27vw solid ;
    width: 100%;
    height: 24vh;
    scale: 1.3;
    object-fit: cover;
    margin-bottom: 2vh;
}
.newsBox .title {
    text-align: center;
}
.newsBox .text {
    font-size: 2.3vh;
}

/*Story*/

section.story {
    position: relative;
    padding: 20vh 0px 30vh 0px;
}
.story div#popUp {
    background-color: var(--textBg);
    margin-left: 45%;
    width: auto;
    min-height: 60vh;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.story div#Buttons {
    position: static;
    margin: 16vh auto 3vh 2vw;   
}
.story div#Buttons button.cssbuttons-io {
    width: 8vh;
    height: 8vh;
}
.story .title {
    margin: 3vh 0px 0px 3vh;
}
.story .text{
    margin: 3vh 3vh 0px 3vh;
}

/*Gadgets*/
.gadgetsBox {
    position: relative;
    
    background-image: url(../imgs/Background/bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25vh 0vw 25vh 0px;
}
.gadgets {
    margin: auto auto auto 35vw;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    flex-direction: row;
}
.gadgets li{
    width: 30vw;
    height: 30vh;
}
.gadgets li img{
    size: auto;
    -webkit-animation: gadgetHover-off var(--AnimationNewsScaleTime)
}
.gadgets li:hover img {
    animation: gadgetHover var(--AnimationNewsScaleTime);
    translate: 0 -2vh;
    position: relative;
}


/*--------------- Buy page e news page-------------------*/

ul.boList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 5vh 7vw 15vh 7vw;
}
ul.boList li {
    background-color: var(--textBg);
}
ul.boList li img {
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    scale: 1.1;
}
ul.boList li:nth-child(even) img {
    float: left;
    margin-right: 3vw;
}
ul.boList li:nth-child(odd) img {
    float: right;
    margin-left: 3vw;
}
ul.boList .title {
    text-align: center;
}
ul.boList .text {
    margin: 0px 1vw 0px 1vw;
}

.boList li:nth-child(odd) .buttonContainer {
    float: left;
    margin: 0px 0px 1vh 1vw;
}
.boList li:nth-child(even) .buttonContainer {
    float: right;
    margin: 0px 1vw 1vh 0px ;
}

.buttonContainer#crash1Bc,
.buttonContainer#crash3Bc {
    margin-top: 1vh;
}
.buttonContainer#crash2Bc {
    margin-top: 5vh;
}
.buttonContainer#crashRemasteredBc {
    margin-top: 15vh;
}
.buttonContainer#crash4Bc {
    margin-top: 12vh;
}

button.cssbuttons-io.buyButton {
    font-size: 1vh;
}
button.cssbuttons-io.buyButton {
    width: 15vw;
    height: 7vh;
}
button.cssbuttons-io.buyButton span {   
    font-size: 3vh;
    text-shadow: 0.2vh 0.2vh #558abb, -0.2vh -0.2vh #558abb, 0.2vh -0.2vh #558abb, -0.2vh 0.2vh #558abb;
}

.miniBuy ul.boList {
    padding: 20vh 7vw 15vh 7vw;
}
.miniBuy#cartZone {
    z-index: 1000;
    position: fixed;
    width: 26%;
    margin: 0px 37% 0px 37%;
    padding: 2vh 0px 1vh 0px;
    background-color: var(--textBg);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;

    display: flex;
    justify-content: center;
}
.miniBuy#cartZone button.cssbuttons-io {
    width: 9vw;
    height: 8vh;
}

button.cartButton.cssbuttons-io {
    background: linear-gradient(to top, #9b20cc, rgb(107, 0, 173));
}
button.cartButton.cssbuttons-io::before {
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
}

/* PopUp */
.buttonPopUp {
    z-index: 10000;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.797);
    width: 100%;
    height: 100vh;
}
.buttonPopUp iframe {
    margin: 10vh 12% 10vh 12%;
    width: 76%;
    height: 80vh;
    border-radius: 6vh;
    border: 0.3vw solid gray;
    box-shadow: 0px 0px 10vw;
}
.buttonPopUp button.cssbuttons-io {
    width: 8vh;
    height: 8vh;
}
.buttonPopUp .buttonContainer {
    position: absolute;
    right: 2vw;
    top: 2vh;
}