* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    cursor: inherit;
}
:root {
    --AnimationNewsScaleStart: 1;
    --AnimationNewsScaleStop: 1.2;
    --AnimationNewsScaleTime: 500ms;
    --StoryTextMargin: 3vh 3vh auto 3vh;
}
p:focus {
    outline: none;
}
h2:focus{
    outline: none;
}

@keyframes newsHover {
    from {
        transform: scale(var(--AnimationNewsScaleStart));
    }
    to {
        transform: scale(var(--AnimationNewsScaleStop));    
    }
}
@keyframes newsHover-off{
    from{
        transform: scale(var(--AnimationNewsScaleStop));
    }to {
        transform: scale(var(--AnimationNewsScaleStart));
    }
}

@keyframes gadgetHover {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 -2vh;
        position: relative;
        
    }
}
@keyframes gadgetHover-off{
    from{
        translate: 0 -2vh;
        position: relative;
    } to {
        translate: 0 0;
    }
}

#index-d1 {
    top: -10vh;
}
#newsBox {
    top: -19vh;
}
#index-d2 {
    top: -29vh
}
#storyBox {
    top: -38vh;
}
#index-d3 {
    top: -59vh
}
#gadgetsBox{
    top: -68vh;
}
#homePageFooter {
    bottom: -450vh;
}

body {
    margin: 0px;
    cursor: url(../imgs/misc/cursor.cur), auto;
    background-image: url(./../imgs/Background/BackBackground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------Back to top -----------------(preso da internet e modificato)*/

.Btn {
    z-index: 999;
    width: 45px;
    height: 45px;
    background: linear-gradient(#44ea76, #39fad7);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    border: none;
    bottom: 3vh;
    right: 2vw;
  }
  
  .arrow path {
    fill: white;
  }
  
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

/*-------------- Scroll bar --------------- (presa da internet e modificata)*/

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #091936; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #986c22; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #986c22; 
  }



/*------------------ GENERICO ---------------*/

/*-------------- HEADER ------------------*/
header {
    margin: 0px;
    background-image: url(./../imgs/header/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header.main img {
    display: block;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 10vh 0px 5vh 0px;
    width: 30vw;
}
header.main ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 15vh;
    margin: 0px;
}
header.main li {
    margin: 3vw;
}

/*
header.small {
    background-position: top;
}
*/
header.small img {
    margin: 7vh 0px 0px 5vw;
    width: 20vw;
    height: 17vh;
}
header.small h1 {
    margin: 0px;
    
    color: rgb(0, 98, 255);
    padding: 1vh;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
}

/*-------------- NAV BAR ------------------*/
nav {
    display: block;
    position: sticky;
    top: 0px;
    right: 0px;
    float: right;
    margin-top: 3vh;
    background-color: azure;
    border-top-left-radius: 6vh;
    border-bottom-left-radius: 6vh;
    z-index: 1000;
    width: 37vw;
    min-width: 400px;
}
nav ul {
    margin: 0.0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.5vh 3vw 1.5vh 0.5vw;
}
nav li {
    align-items: center;
}
nav a {
    cursor: inherit;
}
nav span.thispage {
    display: inline-block;
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
    border: 0.2vw solid rgb(6, 136, 183);
    border-radius: 6vh;
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    width: 7.5vw;
    height: 4.5vh;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 2.7vh;
    color: whitesmoke;
    text-shadow: 0.2vh 0.2vh #558abb, -0.2vh -0.2vh #558abb, 0.2vh -0.2vh #558abb, -0.2vh 0.2vh #558abb;
}

/*------------------------- Buttons ------------------ (preso da internet e modificata)*/

nav .cssbuttons-io {
    position: relative;
    font-weight: 500;
    font-size: 3vh;
    letter-spacing: 0.05em;
    cursor: inherit;
    border: none;
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
    color: rgb(0, 0, 0);
    overflow: hidden;
}
nav button.cssbuttons-io {
    width: 8vw;
    height: 5vh;
    border: 0.3vw solid rgb(6, 136, 183);
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    border-radius: 6vh;
    min-width: 100px;
}
nav .cssbuttons-io span {    
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.3vh 0.3vw 0.3vh 0.3vw;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 2.5vh;
    color: whitesmoke; 
    text-shadow: 0.2vh 0.2vh #558abb, -0.2vh -0.2vh #558abb, 0.2vh -0.2vh #558abb, -0.2vh 0.2vh #558abb;
}
nav .cssbuttons-io::before, .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
  
nav .cssbuttons-io::before {
    content: "";
    background: azure;
    
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
  
nav .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}
  
nav .cssbuttons-io:active {
    transform: scale(0.95);
}

.cssbuttons-io {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    cursor: inherit;
    border: none;
    background: linear-gradient(to top, #246ea4, rgb(6, 136, 183));
    color: rgb(0, 0, 0);
    overflow: hidden;
}
button.cssbuttons-io {
    width: 20vw;
    height: 10vh;
    border: 0.3vw solid rgb(6, 136, 183);
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    border-radius: 6vh;
}
.cssbuttons-io span {    
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.3vh 0.3vw 0.3vh 0.3vw;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 4.3vh;
    color: whitesmoke;
    text-shadow: 0.4vh 0.4vh #558abb, -0.4vh -0.4vh #558abb, 0.4vh -0.4vh #558abb, -0.4vh 0.4vh #558abb;
}
.cssbuttons-io::before, .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: azure;
    
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

/*------------- DIVISORI ---------------*/

hr.mangobox {
    border: 0px;
    display: block;
    margin: 0px;
    background-image: url(./../imgs/misc/divisore.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    position: relative;
    z-index: 100;
}
hr.simple {
    margin: 0px;
    border-top: 1vh solid rgb(6, 136, 183);
    border-bottom: 1vh solid white;
}

.box {
    border: 0.3vw solid rgb(6, 136, 183);
    box-shadow: 0.3vw 0.3vw 2vh 0.1vh rgba(0,0,0,0.75);
    border-radius: 6vh;
}


/*------------- Footer -------------*/

footer hr {
    top: -10vh
}

footer.main {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 90vh;
    width: 100%;
    background-color: black;
    color: white;
}
footer.main img {
    width: 30vw;
    margin-left: 35%;
    margin-right: 34%;
}

footer.simple {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 60vh;
    width: 100%;
    background-color: black;
    color: white;
}
footer.main img {
    margin-left: 10vw;
    width: 30vw;
}

/*------------------------- INDEX.html --------------------*/

/*news Box*/
.newsBox {
    position: relative;
    
    padding: 10vh 5vw 20vh 5vw;
    
    background-image: url("./../imgs/Background/generic-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
.newsBox ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.newsBox li {
    padding: 2vh 1vw 2vh 1vw;
    z-index: 200;
    display: block;
    height: 60vh;
    width: 22vw;
    overflow: hidden;
    scrollbar-width: 0px;
    /*
    min-width: 400px;
    min-height: 600px;
    */
    background-color: rgb(27, 158, 158);

    -webkit-animation: newsHover-off var(--AnimationNewsScaleTime);
}
.newsBox li:hover{
    animation: newsHover;
    animation-duration: var(--AnimationNewsScaleTime);
    transform: scale(var(--AnimationNewsScaleStop));
    z-index: 999;
}
.newsBox h2{
    font-size: 5vh;
    text-align: center;
}
.newsBox img{
    border-bottom: rgb(6, 136, 183) 2px solid ;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
    margin-bottom: 2vh;
}


/*Story*/

.story {
    position: relative;
    background-color: #986d227d;
    width: 100%;
}
.story div[id="popUp"]{
    background-color: rgb(27, 158, 158);
    width: 50%;
    height: 80vh;
    float: right;
    margin: 20vh auto 30vh 40%;
    border-radius: 0%;
    border-right: 0px;
    border-top-left-radius: 8vh;
    border-bottom-left-radius: 8vh;

}
.story div[id="Buttons"]{
    
    position: absolute;
    bottom: 0px;
    margin: auto auto 3% 3%;   
    display: inline;
}
.story div[id="Buttons"] button.cssbuttons-io {
        width: 8vh;
        height: 8vh;
}
.story h2{
    margin: var(--StoryTextMargin);
    font-size: 6vh;
    
}
.story p{
    margin: var(--StoryTextMargin);
    font-size: 4vh;
}

/*Gadgets*/
.gadgetsBox {
    position: relative;
    
    background-image: url(../imgs/Background/bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30vh 0vw 30vh;
}

.gadgets {
    margin: auto auto auto 35vw;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    flex-direction: row;
}

.gadgets li{
    width: 30vw;
    height: 30vh;
    background-color: azure;
    
}

.gadgets li img{
    size: auto;
    -webkit-animation: gadgetHover-off var(--AnimationNewsScaleTime)
}

.gadgets li:hover img {
    animation: gadgetHover var(--AnimationNewsScaleTime);
    translate: 0 -2vh;
    position: relative;
}


/*--------------- Buy page e news page-------------------*/

.centerCirca {
    padding: 5vh 7vw 15vh 7vw;
}

ul.boList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

ul.boList li {
    background-color: azure;
}

ul.boList li:nth-child(even) img {
    float: left;
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    margin-right: 3vw;
    scale: 1.1;
}
ul.boList li:nth-child(odd) img {
    float: right;
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    margin-left: 3vw;
    scale: 1.1;
}